<!DOCTYPE html>
<html>
<head>

  <title>دار الهنا وهنادى للأيتام والمعاقين والمسنين</title>
  <link href="/styles/moneydon.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="css/all.css">
  
</head>

<body>

  <div id ="container">

  <section class = "header">

    <nav> 

    <h1 style="color:white;"> دار الهنا وهنادى للأيتام والمعاقين والمسنين</h1>
    
    <div class = "nav-links">
    <ul>

      <li><a href="/home/index">Home</a> </li>
      <li><a href="/aboutus/index">About Us</a> </li>
      <li><a href="/donations/index">Donations</a> </li>
      <li><a href="/events">Events</a> </li>
      <li><a href="/jobopp/index">Job Opportunities</a> </li>
      <li><a href="/visits/index">Visits</a> </li>
    </ul>

    </nav>
  
<body>
    <h2 class="sectionTitle">Thank you</h2>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</body>

 
  <!-----footer---->

  <footer id = "footer">
    
    <div class="main-content">
        <div class="left box">
            <h4>About us</h4>
            <div class="content">
                <p>A charitable development association that seeks to help community members improve their quality
                    of
                    life
                    Specializing in the field of caring for orphaned children, the disabled, the elderly, and
                    elderly
                    women,
                    and providing assistance to poor and sick families</p>
                <div class="social">
                    <a href="https://www.facebook.com/DerazFdn/"><span class="fab fa-facebook-f"></span></a>
                    <a href=" https://www.facebook.com/DerazFdn/"><span class="fab fa-twitter"></span></a>
                    <a href="https://www.linkedin.com/feed/"><span class="fab fa-linkedin"></span></a>
                </div>
            </div>
        </div>

        <div class="center box">
            <h4>Address</h4>
            <div class="content">
                <div class="place">
                    <span class="fas fa-map-marker-alt"></span>
                    <span class="text">81 Ahmed El Zomor St. Extension of Zakir Hussein, Eighth District,
                        Nasr</span>
                </div>
                <div class="phone">
                    <span class="fas fa-phone"></span>
                    <span class="text">01019402702</span>
                </div>
                <div class="email">
                    <span class="fas fa-envelope"></span>
                    <span class="text">info@dar.com</span>
                </div>
            </div>
        </div>

        <div class="right box">
            <h4>Contact us</h4>
            <div class="content">
                <form action="#">
                    <div class="email">
                        <div class="text">Email *</div>
                        <input type="email" required>
                    </div>
                    <div class="msg">
                        <div class="text">Message *</div>
                        <textarea rows="2" cols="25" required></textarea>
                    </div>
                    <div class="btn">
                        <button type="submit">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="lastdiv"   class="bottom">
        <center>
            <span class="far fa-copyright"></span><span>Copyright 2018. All Rights Reserved</span>
        </center>
    </div>
 
  </footer>

  <script src="/scripts/eventscript.js"></script>
</body>

</html>