<!DOCTYPE html>
<html>
<head>

  <title>دار الهنا وهنادى للأيتام والمعاقين والمسنين</title>
  <link href="/styles/homepage.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="css/all.css">
  
</head>

<body>

  <div id ="container">

  <section class = "header">

    <nav> 

    <h1 style="color:white;"> دار الهنا وهنادى للأيتام والمعاقين والمسنين</h1>
    
    <div class = "nav-links">
    <ul>

      <li><a href="/adminhome/index">Home</a> </li>
      <li><a href="/addon">Donations</a> </li>
      <li><a href="/addevent">Events</a> </li>
      <li><a href="/addjob">Job Opportunities</a> </li>
    </ul>

    </nav>
  
 

  </section>
   </div>
  <div class = "text-box">
    <h1>Welcome Admin</h1>
    <h1>Dar Deraz Orphanage</h1>
    <p>This place is devoted to the care of orphans, children, and disabled people who, for various reasons, cannot be cared for by their biological families.</p>

  </div>


  <!------Core Activities------>


  

  
</body>

</html>