<!DOCTYPE html>
<html>
<head>

  <title>دار الهنا وهنادى للأيتام والمعاقين والمسنين</title>
  <link href="/styles/moneydon.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="css/all.css">
  
</head>

<body>

  <div id ="container">

  <section class = "header">

    <nav> 

    <h1 style="color:white;"> دار الهنا وهنادى للأيتام والمعاقين والمسنين</h1>
    
    <div class = "nav-links">
    <ul>

      <li><a href="/home/index">Home</a> </li>
      <li><a href="/aboutus/index">About Us</a> </li>
      <li><a href="/donations/index">Donations</a> </li>
      <li><a href="/events">Events</a> </li>
      <li><a href="/jobopp/index">Job Opportunities</a> </li>
      <li><a href="/visits/index">Visits</a> </li>
    </ul>

    </nav>
  
    <body>

        <section class="programs" id="programsSection">
            <div class="container">
                <h2 class="sectionTitle">About Us</h2>
                <p>
                    A charitable development association that seeks to help community members improve their quality of
                    life
                    Specializing in the field of caring for orphaned children, the disabled, the elderly, and elderly
                    women,
                    and providing assistance to poor and sick families It is distinguished by providing all its services
                    to
                    the local community with high quality and continuous efficiency. As the association operates in a
                    densely populated area, most of its clients are poor and marginalised families, so it has worked
                    hard
                    and achieved many achievements in the region, as the testimony of everyone attests. The management
                    of
                    the association is always striving for progress, excellence, and creativity through self-development
                    and
                    improving its performance through the continuous training and qualification processes for workers.
                    The
                    association does not have any activity in the political, religious, or sectarian fields, and we do
                    not
                    belong to any political, religious, or partisan movement or thought.     
                           </p>
         
                <div class="boxContainer">
                    <div class="box">
                        <div class="cardImage"></div>
                        <div class="programTitle">Mission</div>
                        <div class="donationCount">
                            Doing charitable work and preserving values A charitable and humanitarian organization that seeks to fulfill its mission by contributing to improving the conditions of orphans and the needy, within a comprehensive sustainable development and a healthy environment, based on its principles and the trust of its partners, keeping abreast of technical developments, aspiring towards leadership and excellence. The project's mission is to form a future child who is self-reliant and serves his community through a set of developmental programs offered to him.
                        </div>
                      
                    </div>
                    <!-- box end-->
    
                    <div class="box">
                        <div class="cardImage"></div>
                        <div class="programTitle">
                            Vision
                        </div>
                        <div class="donationCount">
                            Towards pioneering charitable work in service of our humanitarian mission and noble values To be the leading model institution in humanitarian and development work. Carrying out cultural and recreational activities for the people of the region. Holding continuous health and counseling courses in the association's centers to spread health awareness among people. Creating a conscious leadership generation. Providing monthly, annual and seasonal subsidies to the poor, such as: meat for Eid al-Adha - blankets in the winter season - cartons of foodstuffs in the month of Ramadan - clothes for children in schools.
                        </div>
                        
                    </div>
                    <!-- box end-->
    
    
                    <div class="box">
                        <div class="cardImage"></div>
                        <div class="programTitle">
                          Values
                        </div>
                        <div class="donationCount">
                            Perfection and credibility Our credibility comes from being accurate in collecting information and completing our work with perfection. Cooperation and construction We cooperate with all segments, sectors and individuals to build a society that pulls each other together. To have these values some goals had been set like Raising orphans is an innovative Islamic upbringing on the teachings of Islam and the guidance of the guidance of the Sunnah Meeting the needs of orphans and improving their health, psychological, social and educational conditions. Taking the hand of the orphan and helping him socially, healthily and educationally.
                        </div>
                       
                    </div>
                    <!-- box end-->
    
    
                    <div class="box">
                        <div class="cardImage"></div>
                        <div class="programTitle">
                            Core of the Foundation
                        </div>
                        <div class="donationCount">
                            We believe in our ability to sincerely take responsibility and handle it in all of our work.
                        </div>
                        <div class="donationCount">
                            We are always motivated by commitment motives                        </div>
                            <div class="donationCount">
                                We are keen to adhere to the highest ethical standards, transparency, acceptance of accountability, independence and use.
                            </div>
                            <div class="donationCount">
                                We are keen to stimulate the spirit of innovation among us, with the desire to learn, interact and exchange knowledge to satisfy aspirations and find solutions to intractable social problems.                            </div>
                            <div class="donationCount">
                                We believe that there is an innate ability in all human beings.
                            </div>
                            <div class="donationCount">
                                We respect individuals, and appreciate their common interests, abilities and cultures.
                            </div>
                        
                        
                        
                      
                    </div>
                    <!-- box end-->
    
    
                </div>
            </div>
        </section>








    
       
    
    
    </body>


 
  <!-----footer---->

  <footer id = "footer">
    
    <div class="main-content">
        <div class="left box">
            <h4>About us</h4>
            <div class="content">
                <p>A charitable development association that seeks to help community members improve their quality
                    of
                    life
                    Specializing in the field of caring for orphaned children, the disabled, the elderly, and
                    elderly
                    women,
                    and providing assistance to poor and sick families</p>
                <div class="social">
                    <a href="https://www.facebook.com/DerazFdn/"><span class="fab fa-facebook-f"></span></a>
                    <a href=" https://www.facebook.com/DerazFdn/"><span class="fab fa-twitter"></span></a>
                    <a href="https://www.linkedin.com/feed/"><span class="fab fa-linkedin"></span></a>
                </div>
            </div>
        </div>

        <div class="center box">
            <h4>Address</h4>
            <div class="content">
                <div class="place">
                    <span class="fas fa-map-marker-alt"></span>
                    <span class="text">81 Ahmed El Zomor St. Extension of Zakir Hussein, Eighth District,
                        Nasr</span>
                </div>
                <div class="phone">
                    <span class="fas fa-phone"></span>
                    <span class="text">01019402702</span>
                </div>
                <div class="email">
                    <span class="fas fa-envelope"></span>
                    <span class="text">info@dar.com</span>
                </div>
            </div>
        </div>

        <div class="right box">
            <h4>Contact us</h4>
            <div class="content">
                <form action="#">
                    <div class="email">
                        <div class="text">Email *</div>
                        <input type="email" required>
                    </div>
                    <div class="msg">
                        <div class="text">Message *</div>
                        <textarea rows="2" cols="25" required></textarea>
                    </div>
                    <div class="btn">
                        <button type="submit">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="lastdiv"   class="bottom">
        <center>
            <span class="far fa-copyright"></span><span>Copyright 2018. All Rights Reserved</span>
        </center>
    </div>
 
  </footer>

  
</body>

</html>